/* Body, Nav Bar, Footer */

body {
    background-color: none;
    margin: 0px !important;
}

nav {
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #013863;
    margin: 0px !important;
}

.navbarmenu {
    display: flex;
}

.navbarmenu a {
    font-family: Acme;
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin: 20px;
    cursor: pointer;}

.navbarmenu a:hover {
    font-weight: 600;
}

.mobilenavbarmenu {
    display: none;
}

footer {
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #013863;
    margin: 0px !important;
    }

.Copyright {
    font-family: Arimo;
    font-size: 14px;
    font-style: bold;
    color: white;
    text-align: center;
    margin-left: 30%;
    }

.footercopy {
    display: flex;
    flex-direction: row;
    width: 40%;
    text-align: center;
}

.FooterLinkedText {
    display: flex;
    flex-direction: row;
    width: 40%;
    text-align: center;
}

.FooterLinkedText a {
    font-family: Acme;
    font-size: 14px;
    font-style: normal;
    color: white;
    margin: 20px;
}

.FooterLinkedText a:hover {
    font-weight: bold;
}

/* Homepage */

#containerGrid {
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
}

.headshotarea {
    justify-content: start;
    align-content: center;
    width: 100%;
    text-align: center;
}

.headshotarea .imageheadshot {
    width: 45%;
    margin-top: 40px;
    height: auto;
}

.images {
    width: 100%;
    height: auto;
}

.AboutMe {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.ContactMethods {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.AboutMe h1 {
    font-family: Acme;
    font-size: 48px;
    font-style: normal;
    color: black;
}

.AboutMe h2 {
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    color: black;
}

.AboutMe p {
    font-family: Arimo;
    font-size: 20px;
    font-style: normal;
    color: black;
}

button.contactButton {
    border: none;
    color: white;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: Acme;
    margin-left: 16px;
    margin-right: 25px;
    height: 58px;
    width: 252px;
    cursor: pointer;
    background-color: #007b84;
    border-radius: 20px;
}

.CaseStudy1, .CaseStudy2, .CaseStudy3, .CaseStudy4 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid;
    border-color: #007b84;
    border-radius: 20px;
    color: black;
    margin-bottom: 20px;
}

.CaseStudy1 {
    margin-top: 100px;
}

.CaseStudyText {
    width: 43%;
} 

.CaseStudyText h1 {
    text-align: left;
    font-family: Arimo;
    font-size: 24px;
    font-style: bold;
    }

.CaseStudyText p {
    text-align: left;
    font-family: Arimo;
    font-size: 16px;
    font-style: normal;
    }

.CaseStudyImg {
    width: 43%;
}

#bottomLeft {
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin-bottom: 20px;
}

.iconimages {
    width: 100%;
    height: auto;
}

#bottomRight {
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin-bottom: 20px;
}

.skillsimage {
    width: 100%;
    height: auto;
}

/* Contact Page */

.contactheader h3 {
    font-family: Acme;
    font-size: 36px;
    font-style: normal;
    color: black;
}

.contactheader {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
}

.contactpageContact {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contactpageHeadshot {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    width: 100%;
    text-align: center;
}

.contactpageHeadshot .imageheadshot {
    width: 45%;
    height: auto;
    margin-bottom: 30px;
}

.contactName {
    margin-bottom: 20px;
}

.contactTitle {
    margin-bottom: 50px;
}

.contactpageHeadshot h1 {
    font-family: Acme;
    font-size: 48px;
    font-style: normal;
    color: black;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}

.contactpageHeadshot h2 {
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    color: black;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}

.contactpageMethods {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 60px;
}

.contactpageMethods h4 {
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    color: black;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}

@media only screen and (max-width: 600px) {
    .contactpageContact {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .contactpageMethods {
        margin-bottom: 40px;
    }

    .email img {
        width: 75%;
        height: auto;
    }

    .linkedin img {
        width: 75%;
        height: auto;
    }

    .contactheader h3 {
        font-family: Acme;
        font-size: 24px;
        font-style: normal;
        color: black;
    }

    .contactpageHeadshot h2 {
        font-family: Arimo;
        font-size: 22px;
        font-style: normal;
        color: black;
        margin-block-start: 0em !important;
        margin-block-end: 0em !important;
    }

    .contactpageHeadshot h1 {
        font-family: Acme;
        font-size: 40px;
        font-style: normal;
        color: black;
        margin-block-start: 0em !important;
        margin-block-end: 0em !important;
    }

    .contactpageMethods h4 {
        font-family: Arimo;
        font-size: 20px;
        font-style: normal;
        color: black;
        margin-block-start: 0em !important;
        margin-block-end: 0em !important;
    }
    }

/* Case Study 1 */
.casestudyPageheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.casestudyPageheader h1 {
    font-family: Acme;
    font-size: 42px;
    font-style: medium;
    color: black;
}

.casestudyPageheader h2 {
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    color: black;
    margin-left: 100px;
    margin-right: 100px;
}

.pageheaderUnderline {
    width: 50%;
    height: 5px;
    background-color: #007b84;
}

.casestudyheader {
    text-align: center;
}

.casestudyheader h1 {
    font-family: Acme;
    margin: 50px auto;
    font-size: 36px;
    font-style: medium;
    text-align: center;
    color: black;
    max-width: 800px;
    position: relative;
}

.casestudyheader h1:before {
    content: "";
    display: block;
    width: 220px;
    height: 4px;
    background-color: #007b84;
    left: 0;
    top: 50%;
    position: absolute;
}
.casestudyheader h1:after {
    content: "";
    display: block;
    width: 220px;
    height: 4px;
    background-color: #007b84;
    right: 0;
    top: 50%;
    position: absolute;
}

.sectionOne {
    display: block;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.sectionTwo {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.casestudyMain {
    width: 100%;
    height: auto;
}

.casestudyMain img {
    width: 100%;
    height: auto;
}

.casestudyDesc {
    width: 100%;
    text-align: center;
}

.casestudyDescStyletile h1 {
    font-family: arimo;
    font-size: 20px;
    font-weight: 800;
    color: black;
    text-align: left;
    margin-bottom: 0px !important;
}
 
.casestudyDescStyletile p {
    font-family: arimo;
    font-size: 18px;
    font-style: normal;
    color: black;
    text-align: left;
    margin-top: 0px !important;
}

.casestudyDesc h1 {
    font-family: arimo;
    font-size: 20px;
    font-weight: 800;
    color: black;
    text-align: left;
    margin-bottom: 0px !important;
}

.casestudyDesc p {
    font-family: arimo;
    font-size: 18px;
    font-style: normal;
    color: black;
    text-align: left;
    margin-top: 0px !important;
}

ul.listfont {
    font-family: arimo;
    font-size: 18px;
    font-style: normal;
    color: black;
    text-align: left;
    }

.resourcepage {
    width: 50%;
    height: auto;
}

.keyfindings { 
    width: 60%;
    height: auto;
}

.persona {
    border: 4px solid #007b84;
}

.storyboard {
    width: 60%;
    height: auto;
}

.feature {
    width: 70%;
    height: auto;
}

.sitemap {
    width: 70%;
    height: auto;
    margin-bottom: 20px;
}

.wireframe {
    width: 80%;
    height: auto;
}

.styletileImg {
    width: 50%;
    height: auto;
}

.lofiVideo {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.hifiVideo {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}

@media only screen and (max-width: 600px) {
    .casestudyPageheader h1 {
        font-size: 30px;
    }

    .casestudyPageheader h2 {
        font-size: 20px;
    }

    .sectionTwo {
        display: block; 
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 3%;
    }

    .casestudyheader h1 {
        font-size: 30px;
    }

    .casestudyDesc h1 {
        font-size: 16px;
        margin-bottom: 0px !important;
    }
    
    .casestudyDesc p {
        font-size: 13px;
        margin-top: 0px !important;
    }

    ul.listfont {
        font-size: 13px
    }

    .originalHome {
        width: 100%;
        height: auto;
    }
    
    .resourcepage {
        width: 100%;
        height: auto;
    }
    
    .keyfindings { 
        width: 100%;
        height: auto;
    }

    .persona {
        width: 100%;
        height: auto;
    }

    .storyboard {
        width: 100%;
        height: auto;
    }

    .feature {
        width: 100%;
        height: auto;
    }
    
    .sitemap {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    
    .wireframe {
        width: 100%;
        height: auto;
    }
    
    .styletileImg {
        width: 100%;
        height: auto;
    }

    .lofiVideo {
        display: block; 
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 8%;
    }
    
    .hifiVideo {
        display: block; 
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 8%;
    }

    .casestudyheader h1:before {
        content: "";
        display: block;
        width: 65px;
        height: 4px;
        background-color: #007b84;
        left: 18px;
        top: 50%;
        position: absolute;        
    }

    .casestudyheader h1:after {
        content: "";
        display: block;
        width: 65px;
        height: 4px;
        background-color: #007b84;
        right: 18px;
        top: 50%;
        position: absolute;
    }
}

/* About Page */
.aboutheader {
    text-align: center;
}

.aboutheader h1:before {
    content: "";
    display: block;
    width: 220px;
    height: 4px;
    background-color: #007b84;
    left: 0;
    top: 50%;
    position: absolute;
}
.aboutheader h1:after {
    content: "";
    display: block;
    width: 220px;
    height: 4px;
    background-color: #007b84;
    right: 0;
    top: 50%;
    position: absolute;
}
.aboutheader h1 {
    font-family: Acme;
    margin: 50px auto;
    font-size: 36px;
    font-style: medium;
    text-align: center;
    color: black;
    max-width: 800px;
    position: relative;
}

.skillsBoxes {
    display: flex;
    flex-direction: column;
    border: 3px solid #007b84;
    width: 260px;
    height: auto;
}

.skillsHeader {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
}

.skillsHeader h1 {
    font-family: Acme;
    font-size: 30px;
    font-style: medium;
    text-decoration: underline;
    text-align: center;
    color: black;
    max-width: 800px;
    position: relative;
}

.skillsLists {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-left: -15px;
    margin-top: -30px;
}

 .skillsLists li {
    font-family: arimo;
    font-size: 20px;
    font-style: normal;
 }

.sectionFour {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin: 40px;
}


@media only screen and (max-width: 600px) {
    #containerGrid {
        grid-template-columns: 100%;
        gap: none !important;
    }

    .AboutMe h1 {
        font-family: Acme;
        font-size: 36px;
        font-style: normal;
        color: black;
    }
    
    .AboutMe h2 {
        font-family: Arimo;
        font-size: 20px;
        font-style: normal;
        color: black;
    }
    
    .AboutMe p {
        font-family: Arimo;
        font-size: 12px;
        font-style: normal;
        color: black;
    }

    button.contactButton {
        font-size: 18px;
        font-family: Acme;
        margin-left: 16px;
        margin-right: 25px;
        height: 50px;
        width: 220px;
        background-color: #007b84;
        border-radius: 10px;
    }

    .CaseStudy1, .CaseStudy2, .CaseStudy3, .CaseStudy4 {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: solid;
        border-color: #007b84;
        border-radius: 20px;
        color: black;
        margin-bottom: 20px;
    }
    
    .CaseStudy1 {
        margin-top: 15px;
    }
    
    .CaseStudyText {
        width: 42%;
    } 
    
    .CaseStudyText h1 {
        text-align: left;
        font-family: Arimo;
        font-size: 20px;
        font-style: bold;
        }
    
    .CaseStudyText p {
        text-align: left;
        font-family: Arimo;
        font-size: 12px;
        font-style: normal;
        }
    
    .CaseStudyImg {
        width: 54%;
    }

    #bottomLeft {
        padding: 5px;
        margin-bottom: 0px;
    }
    
    #bottomRight {
        padding: 5px;
        margin-bottom: 10px;
    }

    .navbarmenu a {
        font-size: 14px
    }

    .footercopy {
        width: 100%;
    }

    .FooterLinkedText {
        width: 100%;
    }

    .FooterLinkedText a {
        font-size: 12px;
    }

    .Copyright {
        font-size: 12px;
    }    
}